<%!-- Breadcrumbs Nav --%>
<.sw_breadcrumbs items={[
  %{label: "Projects", to: ~p"/projects"},
  %{label: @project.name, to: ~p"/projects/#{@project.id}"},
  %{label: @endpoint.name, to: ~p"/projects/#{@project.id}/endpoints/#{@endpoint.id}"},
  %{label: @test.name, to: nil}
]} />

<%!-- Header Row --%>
<div class="flex justify-between mb-4">
  <h1 class="text-3xl font-semibold">{@test.name}</h1>
  <div class="flex items-center gap-2">
    <.sw_button
      href={~p"/projects/#{@project.id}/endpoints/#{@endpoint.id}"}
      color="gray"
      style="outlined"
    >
      Back
    </.sw_button>
    <.sw_button
      color="red"
      style="outlined"
      phx-click={SynwatchWeb.Components.SWModal.open("confirm-delete")}
    >
      Delete
    </.sw_button>
  </div>
</div>

<%!-- Form Card --%>
<.sw_test_form
  changeset={Ecto.Changeset.change(@changeset)}
  action={~p"/projects/#{@project.id}/endpoints/#{@endpoint.id}/tests/#{@test.id}"}
  method="patch"
  cancel_href={~p"/projects/#{@project.id}/endpoints/#{@endpoint.id}"}
/>

<%!-- Delete Endpoint Modal --%>
<.sw_modal id="confirm-delete" size="md">
  <:title>Delete Test?</:title>
  This action cannot be undone. All related data may be removed.
  <:actions>
    <.sw_button
      style="outlined"
      color="gray"
      phx-click={SynwatchWeb.Components.SWModal.close("confirm-delete")}
    >
      Cancel
    </.sw_button>

    <.sw_button
      color="red"
      method="delete"
      href={~p"/projects/#{@project.id}/endpoints/#{@endpoint.id}/tests/#{@test.id}"}
    >
      Delete
    </.sw_button>
  </:actions>
</.sw_modal>
