<Layouts.flash_group flash={@flash} />
<div class="left-[40rem] fixed inset-y-0 right-0 z-0 hidden lg:block xl:left-[50rem]">
  <.form for={%{}} as={:logout} action={~p"/auth/logout"} method="delete">
    <button class="btn btn-ghost">Logout</button>
  </.form>
</div>
